<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Sapphire</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.frontrow.appliance.Sapphire</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Sapphire</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0b3.1 (SVN_REVISION)</string>
	<key>FRApplianceIconHorizontalOffset</key>
	<real>-0.055</real>
	<key>FRApplianceIconReflectionOffset</key>
	<real>-0.044999999999999998</real>
	<key>FRAppliancePreferedOrderValue</key>
	<integer>-1</integer>
	<key>FRRemoteAppliance</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>SapphireAppliance</string>
</dict>
</plist>
