<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>net.nanopu.gbooker.pmerrill.sapphire</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>FRApplianceIconHorizontalOffset</key>
	<real>2.5</real>
	<key>FRApplianceIconReflectionOffset</key>
	<real>-0.20000000000000001</real>
	<key>FRAppliancePreferedOrderValue</key>
	<integer>-1</integer>
	<key>NSPrincipalClass</key>
	<string>SapphireAppliance</string>
</dict>
</plist>
