<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATVPluginShortName</key>
	<string>sapphire</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Sapphire</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.frontrow.appliance.Sapphire</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Sapphire</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0b7.7 (SVN_REVISION)</string>
	<key>FRApplianceCategoryDescriptors</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>tv-shows</string>
			<key>is-network-dependent</key>
			<false/>
			<key>is-share-dependent</key>
			<false/>
			<key>is-store-category</key>
			<false/>
			<key>name</key>
			<string>TV Shows</string>
			<key>preferred-order</key>
			<integer>1</integer>
			<key>priority</key>
			<real>6</real>
		</dict>
		<dict>
			<key>identifier</key>
			<string>movies</string>
			<key>is-network-dependent</key>
			<false/>
			<key>is-share-dependent</key>
			<false/>
			<key>is-store-category</key>
			<false/>
			<key>name</key>
			<string>Movies</string>
			<key>preferred-order</key>
			<integer>2</integer>
			<key>priority</key>
			<real>6</real>
		</dict>
		<dict>
			<key>identifier</key>
			<string>mounts</string>
			<key>is-network-dependent</key>
			<false/>
			<key>is-share-dependent</key>
			<false/>
			<key>is-store-category</key>
			<false/>
			<key>name</key>
			<string>Collections</string>
			<key>preferred-order</key>
			<integer>3</integer>
			<key>priority</key>
			<real>6</real>
		</dict>
		<dict>
			<key>identifier</key>
			<string>importer</string>
			<key>is-network-dependent</key>
			<false/>
			<key>is-share-dependent</key>
			<false/>
			<key>is-store-category</key>
			<false/>
			<key>name</key>
			<string>Import All Data</string>
			<key>preferred-order</key>
			<integer>4</integer>
			<key>priority</key>
			<real>6</real>
		</dict>
		<dict>
			<key>identifier</key>
			<string>settings</string>
			<key>is-network-dependent</key>
			<false/>
			<key>is-share-dependent</key>
			<false/>
			<key>is-store-category</key>
			<false/>
			<key>name</key>
			<string>Settings</string>
			<key>preferred-order</key>
			<integer>5</integer>
			<key>priority</key>
			<real>6</real>
		</dict>
	</array>
	<key>FRApplianceIconHorizontalOffset</key>
	<real>-0.055</real>
	<key>FRApplianceIconReflectionOffset</key>
	<real>-0.20999999999999999</real>
	<key>FRAppliancePreferedOrderValue</key>
	<real>0.0</real>
	<key>FRRemoteAppliance</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>SapphireAppliance</string>
</dict>
</plist>
